<!-------HEADER------->
<header class="header">
    <nav class="nav container">
        <div class="nav__data">
            <a href="#" class="nav__logo">
                <i class="ri-planet-line"></i>Playa Rimac Market
            </a>
        </div>

        <!-------NAV MENU------->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li><a href="#" class="nav__link">Inicio</a></li>
                <!-------DROPDOWN LIST 1------->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Categorías <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__menu">
                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-bread-line"></i> Comida
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-drinks-2-fill"></i> Bebidas
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-restaurant-line"></i> Restaurantes
                            </a>
                        </li>

                        <!-------DROPDOWN SUBMENU------->
                        <li class="dropdown__subitem">
                           <div class="dropdown__link">
                                <i class="ri-t-shirt-line"></i> Ropa <i class="ri-arrow-right-line dropdown__add"></i>                  
                           </div>

                           <ul class="dropdown__submenu">
                                <li>
                                    <a href="#" class="dropdown__sublink">
                                        <i class="ri-women-line"></i> Mujer
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="dropdown__sublink">
                                        <i class="ri-men-line"></i> Hombre              
                                    </a>
                                </li>
                           </ul>   
                        </li>        
                    </ul>
                </li>
                <li><a href="#" class="nav__link">Ofertas</a></li>
                <!-------DROPDOWN LIST 2------->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Mascotas <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__menu">
                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-bread-line"></i> Comida
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-shirt-fill"></i> Ropa
                            </a>
                        </li>  
                    </ul>
                </li>
                <li><a href="#" class="nav__link">Contáctanos</a></li>
            </ul>         
        </div>
        <div class="nav__actions">
            <a href="#" class="login__link">
                <i class="ri-user-line nav__login" id="login">
                    <p>Inicia Sesión</p>
                </i>
            </a>
            <a href="#" class="shop__link">
                <i class="ri-shopping-cart-line nav__shop" id="shopping-cart"></i>
            </a>
            <a href="#" class="favs__link">
                <i class="ri-heart-line nav__fav" id="favorites"></i>
            </a>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>
    </nav>
</header>

<div class="login">

</div>
<div class="my__cart">

</div>
<div class="my__favorites">

</div>